<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mount Holyoke Poker</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     <!-- jQueries script -->
    <script src="../queries.js"></script>
    
    <style>
      body {
	  align-items:center;
	  text-align: center;
	  background-image: url('images/background.jpg');
	  background-repeat: no-repeat;
	  background-attachment: fixed; 
	  background-size: cover;
	  height:100vh;
	  color: #f0f4fa;
	  text-shadow: 1px 1px #696b6e;
      }

      body,html {
	  height: 100%;
      }

    </style>
  </head>
  <body>
    <div class="row align-items-center h-100">
      <div class="col">
	<div class="row justify-content-center">
	  <div class="col"></div>
	  <div class="col">
	    <h1>Sign In</h1>
	     <p id="error" style="color: red"></p>
	    <form>
	      <div class="form-group">
		<input type="text" id="identifier" placeholder="Email or Username" class="form-control">
	      </div>
	      <div class="form-group">
		<input type="password" id="password" placeholder="Password" class="form-control">
	      </div>
	      <div class="form-group">
		<input type="button" class="btn btn-primary" id="sign_in" value="Login">
	      </div>
	    </form>
	    <p id="test"></p>
	  </div>
	  <div class="col"></div>
	</div>
      </div>
    </div>
		   
  </body>
</html>
