<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mount Holyoke Poker Rules</title>
  </head>

  <body style="background-color: #F7F7F7">
    <h2>Mount Holyoke Poker Rules</h2>

    <h3>Definitions</h3>
    <ul>
      <li>Round: A round lasts until the first player to run out of cards runs out</li>
      <li>Run: A run lasts until every player has passed on a given hand and the rule resets</li>
    </ul>

    <h3>Gameplay</h3>
    <ol>
      <li>Each player starts with 13 cards</li>
      <li>The player with the lowest card starts by playing that card</li>
      <ul>
	<li>The rankings of the cards from low to high:</li>
	<ul>
	  <li>rank: 3, 4, 5, 6, 7, 8, 9, 10, J, Q, K, A, 2</li>
	  <li>suit: Diamonds, Clubs, Hearts, Spades</li>
	</ul>
	<li>The lowest card in the deck is a 3 of Diamonds, then 3 of Clubs, etc.</li>
      </ul>
      <li>In each turn players must play a card of a higher rank than the card just played</li>
      <ul>
	<li>If a player does not have a card higher than the card just played or if they wish to save it for a later turn, they may pass</li>
      </ul>
      <li>Once there has been a run in which every player has passed on the same card, the player who played the last card (the one that got passed on by every other player) may play any hand they wish (ie a single card, a pair, three of a kind, or any of the 5 card hands described below)</li>
      <li>Players go in a circle playing hands of the same type that are higher than the hand played just before (ie if the last player played three of a kind, the current player must play three of a kind of a higher number or pass)</li>
      <ul>
	<li>Within a run, each player must always play the same number of cards as the player before them</li>
      </ul>
      <li>Repeat steps 4 and 5 until one player gets rid of all of their cards</li>
      <li>Once one player has played all their cards the round is over and each player gets the number of points as unplayed cards they have in their hand</li>
      <li>Games may be played for a set number of rounds with the winner being the player with the least amount of points at the end of those rounds or they can be played to a set number of points with the winner being the last player to hit that threshold</li>
    </ol>

    <h3>Types of hands</h3>
    <ul>
      <li>Single cards</li>
      <li>Pairs (two cards of the same rank)</li>
      <li>Three of a kind (three cards of the same rank)</li>
      <li>5 card hands as described below</li>
    </ul>

    <h3>5 card hand ranking from lowest to highest</h3>
    <ul>
      <li>Straight &lt; Flush &lt; Full House &lt; 4 of a Kind &lt; Straight Flush &lt; Royal Flush</li>
    </ul>

    <h3>5 card hand explanations</h3>
    <ul>
      <li>Straight = any 5 numerically consecutive cards</li>
      <li>Flush = any five cards of the same suit</li>
      <li>Full House = 3 cards of the same number and a pair of cards that share a different number</li>
      <ul>
	<li>For the purposes of ranking you look at the 3 of a kind</li>
	<ul>
	  <li>ie if 3 7s and 2 10s were played the next player could play 3 8s and 2 3s on top as a valid move of higher rank</li>
	</ul>
      </ul>
      <li>4 of a Kind = all 4 cards of one number and one extra card (can be anything)</li>
      <li>Straight Flush = 5 numerically consecutive cards all the same suit</li>
      <li>Royal Flush = the highest ranking flush, which is the jack, queen, king, ace, and 2 of spades</li>
      <ul>
	<li>There is only one possible royal flush</li>
      </ul>
    </ul>

  </body>
</html>
    
